<!DOCTYPE html>
<html>
<head>
<title>My Basic Flask App</title>
 <link rel="stylesheet"
 href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
<h1>Welcome to My Flask App</h1>
<h2>Hello! My Name is Rizwana</h2>
<p>I am B.Tech(CSE) graduate with a strong interest in Software Development and Backend Technologies. As I have knowledge in Python Programming Language. So, I decided to learn frameworks like Flask.</p>

<p>Recently, I developed a basic Flask application as a beginner-friendly template. I began exploring Flask to enhance my backend development skills.</p>
<p>Next, I also wanted to know about Postman. Postman is a platform/tool used for testing and monitoring APIs.</p>

</body>
</html>